/* ------------------------------------------------POSIÇÃO VERTICAL------------------------------------------------ */

@media (max-width: 726px){
  .header-desktop{
    opacity: 0;
  }
}


@media (max-width: 720px) and (max-height: 1023px) {
  html {
    box-sizing: border-box;
    
    overflow-x: hidden;
  }

  body {
    width: 100% !important;
  }

  .container {
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
    padding-right: 0;
    display: block;
    padding-top: 0;
    height: 100%;
    width: 100vw;
  }

  #lorem {
    display: none;
  }

  /* MENU DE NAVEGAÇÃO */
  .header-desktop {
    display: none;
  }

  .header-mobile {
    width: 100%;
    height: 15vh;
    display: block;
    
    box-sizing: border-box;
    
  
  }

  .navMenu-mobile {
    box-sizing: border-box;
    width: 100%;
    height: 15vh;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #1f221e;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    border-bottom: 1px solid black;
    z-index: 100 !important;
    display: ;
    
  }

  .navMenu-mobile > * {
    
  }

  #div0Msgdia {
    display: none;
  }

  #divMsgdia {
    display: none;
  }

  .navMenu-mobile li {
    margin: 30px 0;
  }

  .navMenu-mobile li a {
  }

  .navMenu-mobile > {
  }

  #logo-mobile-div {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100%;
  
    
  }

  #logo-link {
    display: inline-block;
    /* Link se ajusta ao tamanho da imagem */
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
  }

  #logo-mobile-img {
    display: block;
    width: auto;
    height: 65%;
    top: 0;
    margin: 0;
  
  }

  #msgDia {
    display: none;
  }

  /* Menu hamburguer*/
  #btn-menu {
    background-color: transparent;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
  }

  #menu-hamburguer-img {
    cursor: pointer;
    outline: none;
    background-image: url("./imgs/front-end/menu-icos/menu - hamburguer.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* <- essa linha é essencial */
    width: 15vw; /* largura responsiva */
    aspect-ratio: 1 / 1; /* altura automática proporcional à largura */
  }

  #menu-hamburguer-img.ativo {
    background-image: url("./imgs/front-end/menu-icos/menu-close.svg");
  }

  .menu-mobile {
    width: 100vw;
    height: 70vh !important;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #222720;
    transition: 0.5s ease-in-out;
    top: -100vh;
    z-index: 10;
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, calc(100% / 7));
    position: fixed;
  }

  .menu-mobile.ativo {
    /* border-top: 0.5px solid rgb(0, 0, 0); */
    top: 15vh;
  }

  .menu-mobile li {
    box-sizing: border-box;
    margin: 0;

    border-bottom: dashed 2px rgb(46, 44, 44);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-mobile li a {
    font-family: "roboto";
    text-decoration: none;
    font-size: 150%;
    color: white;
  }

  /*
     CONTEÚDO
  */


 #home {
  width: 100%;
  height: 85vh;
  box-sizing: border-box;
  margin-top: 0 !important;
  border: solid 3px purple;

 }


  .section#inicio {
    padding: 0;
    height: 100% !important;
    width: 100% !important;
    box-sizing: border-box;
    margin: 0;

  
    
    
  }

  section.apresentacao {
    
    box-sizing: border-box;
    width: 100%;
    height: 100% !important;
    justify-content: center;
    align-items: start;
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    grid-template-rows: 20% 50% ;
    grid-template-areas:
      "titulo"
      "imagem"
      "botao";
    
      
  
  }

  .apresentacao > * {

   
  }

  /* TITULO */

  .titulo-container {
    margin: 0 !important;
    grid-area: titulo;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
  
    
  }

  .titulo-container > * {
    margin: 0 !important;
    padding: 0;
  }

  .titulo-container > :nth-child(2) {
      font-size: min(4vw, 2rem) !important;
  }

  #titulo-apresentação {
    font-size: min(6.5vw, 2rem) !important;
  
    width: 100%;
    
  }

  /* IMAGEM */

#img-container {
  grid-area: imagem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: solid 2px red;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* evita que a imagem ultrapasse */
}

#imagem-apresentação {
  width: 80%;
  height: auto;
  max-height: 80%;
  max-width: 100%;
  border: solid 2px red;
  object-fit: contain; /* garante que a imagem se ajuste sem cortar */
}


  /* BOTÃO */
  #botao-container {
    grid-area: botao;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    
    
  }

  .botao-orcamento {
    width: auto;
    font-size: clamp(0.9rem, 4.9vw, 3rem);

    border: none;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  section {
    height: calc(100vh - 12vh) !important;
  }

  .section {
    margin: 0;
    /* overflow-x: hidden; */
  }

  .hidden {
    margin: 0;
  }

  .front-back-column {
    display: none;
  }

  .front-img {
    width: 30px;
  }



  /*///////////////////////// SERVIÇOS ///////////////////////////////*/

  .serviço-layer {
    width: 100vw;
    height: 200vw;
    position: absolute;
    top: 0;
  }

  section#serviços {
    height: 100vh !important;
    min-width: 100vw !important;
    height: auto !important;
    display: flex !important;
    justify-content: center !important;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 0 !important;
    position: relative;
  }

  #serviços-hidden {
    display: flex;
    justify-content: start !important;
    flex-direction: column;
    width: 100vw !important;
    height: auto !important;
    box-sizing: border-box;
  }

  #serviços-subtitulo01 {
    font-size: 15px;
    width: auto;
    text-align: center;
  }

  .titulo-softwares {
    font-size: 10px;
  }

  .painel-software {
    display: none;
  }

  .div-modelo-negocio {
    display: none;
  }

  .img-serviços {
    /* display: none; */
  }

  .hidden {
    box-sizing: border-box;
  }

  /* DESKTOP */

  #painel-serviços {
    width: 100vw !important;
    overflow-x: hidden !important;
    height: auto;
    box-sizing: border-box;
  }

  #painel-serviços > div {
  }

  .painel-software {
    grid-template-columns: auto !important;

    height: auto !important;
  }

  #serviços-hidden {
    height: auto !important;
  }

  /* ////////////////////////////////////// SLIDER MOBILE SERVIÇOS //////////////////////////////////////////*/

  .serviço-texto {
    /* display: flex ; */
    position: absolute;
    top: 600px;
    display: grid;
    flex-direction: column;
    grid-template-columns: auto;
    gap: 0;
    grid-template-rows: 15% auto;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box;
    justify-content: center !important;
    align-items: space-between;
    transition: top 0.5s ease-in-out;
  }

  .serviço-texto.ativo {
    top: 0 !important;
  }

  .serviço-texto * {
    box-sizing: border-box !important;
    right: 0 !important;
    left: 0 !important;
    width: auto;
    height: auto !important;
    top: 0 !important;
    display: block !important;
   
  }

  .serviço-texto :nth-child(1) {
    font-size: clamp(100%, 1vw, 3rem) !important;
  }
  .serviço-texto :nth-child(2) {
    font-size: clamp(85%, 1vw, 3rem) !important;
    align-self: center;
  }

  .serviço-texto h2 {
    margin-top: 10% !important;
  }

  .serviço-texto h3 {
    color: green;
    font-size: 30px;
  }

  .slider-mobile {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin-top: 10%;

    padding-bottom: 120%;
  }

  .item {
    position: absolute !important;
    width: 60vw !important;
    /* height: 320px !important; */
    text-align: justify;
    border: solid 1px gray;
    border-bottom: solid 4px darkgreen;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    justify-content: center !important;
    aspect-ratio: 8 / 12 !important;
  }

  .item:nth-child(8) {
    z-index: 99999;
  }

  .item * {
    user-select: none;
  }

  .item > {
    display: block;
  }

  .item img {
    display: block !important;
    width: 30vw !important;
    height: auto !important;
    user-select: none !important;
    /* Impede que o texto dentro do item seja selecionado */
    -webkit-user-select: none;
    /* Para navegadores baseados em WebKit */
    -moz-user-select: none;
    /* Para Firefox */
    -ms-user-select: none;
    /* Para Edge antigo */
  }

  .item h3 {
    font-family: "roboto";
    color: green;
  }

  #next,
  #prev {
    position: absolute;
    top: 40%;
    width: 35px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    border: none;
    color: rgb(54, 49, 49);
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
    text-align: center;
  }

  #next {
    left: unset;
    top: 150px;
    right: 10px;
  }

  #prev {
    right: unset;
    top: 150px;
    left: 10px;
  }

  /* Transição suave */

  .slider-mobile .item {
    transition: transform 0.5s, opacity 0.5s;
  }

  /* ///////////////////////////////////////// MODELOS DE NEGÓCIO MOBILE /////////////////////////////////////////////*/
  .div-modelo-negocio-mobile {
    display: block;
    padding-bottom: 30%;
  }

  #modelo-negocio-titulo {
    font-size: 30px !important;
    margin-bottom: 30px;
  }

  #modelo-negocio-subtitulo {
    font-size: 15px !important;
  }

  .painel-modelo-negocio-container {
    background-color: #dfdfdf;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    /* Importante para esconder o conteúdo fora do container */
    margin: 0 auto;
  }

  .modelos {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .modelos ul {
    display: flex;
    align-items: center;
    gap: 40px;

    /* Criar o efeito contínuo */
    animation: slide 14s infinite linear;
    width: max-content;
    /* Necessário para o fluxo contínuo */
    list-style: none;
  }

  .modelos ul:hover {
    animation-play-state: paused;
    /* Pausa a animação ao passar o mouse */
  }

  .item-container {
    background-color: #1b1b1b;
    /* Fundo branco para o retângulo */
    border: 2px solid #ccc;
    /* Borda cinza clara */
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    /* Tamanho consistente para o retângulo */
    box-sizing: border-box;
    /* Garantir que padding não afete tamanho */
    height: 200px;
  }

  .item-container img {
    width: 50%;
    /* Ajusta a largura da imagem ao container */
    height: auto;
    /* Mantém proporção correta */
    justify-self: center;
  }

  .item-container label {
    font-family: "Roboto", sans-serif;
    /* Fonte Roboto */
    color: rgb(255, 255, 255);
    /* Cor verde escuro */
    margin-top: 10px;
    text-align: center;
    /* Centraliza o texto */
    font-size: 20px;
    justify-self: end;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
      /* Início */
    }

    100% {
      transform: translateX(-2000px);
      /* Ajustar com base no cálculo exato */
    }
  }

  /* ///////////////////////////////////// TECNOLOGIAS ///////////////////////////////////////////// */

  section#tecnologias {
    min-height: 100vh !important;
    height: max-content !important;
    padding: 0;
    position: absolute;
    padding-bottom: 30% !important;
    max-width: 100vw !important;
    box-sizing: border-box;
    padding-top: 10% !important;
  }

  #tecnologias-titulo {
    font-size: 30px !important;
    height: 30px;
    width: auto;
    position: relative !important;
    top: 10px !important;
  }

  #tecnologias-subtitulo01 {
    font-size: 15px;
    position: relative;
    top: -20% !important;
  }

  #painelTecnologias {
    margin-top: 15% !important;

    padding-top: 10% !important;
    padding-bottom: 10% !important;
    max-width: 95vw !important;
    max-height: 60vh !important;
    overflow-x: hidden !important;
    overflow-y: hidden;
    position: relative !important;
    top: 0 !important;
    display: flex !important;
    align-content: center;
    overflow: visible !important;
  }

  .front-back-column {
    width: max-content;
    margin-top: 50% !important;
    margin: 0 !important;
    height: max-content !important;
    position: absolute !important;
    display: grid;
    grid-template-columns: 100% !important;
    grid-template-areas:
      "front "
      "back"
      "database" !important;
    column-gap: 0 !important;
    row-gap: 0 !important;
    box-sizing: border-box;
  }

  .front-back-column > li {
    top: 0;
    padding: 0 !important;
    column-gap: 0;
    max-width: 95vw;
    max-height: calc(60vh / 3);
    box-sizing: border-box !important;
    margin: 0;
  }

  .front-li:hover {
    transform: none;
    /* Remove o efeito de escala */
  }

  .back-li:hover {
    transform: none;
  }

  #data-li:hover {
    transform: none;
  }

  #front div {
    width: 95vw;
    height: calc(60vh / 3);
    left: 0;
    right: 0;
    margin: 0 !important;
  }

  #back div {
    width: 95vw;
    height: calc(60vh / 3);
    right: 0;
    margin: 0 !important;
  }

  #database div {
    width: 95vw;
    height: calc(60vh / 3);
    display: block;
  }

  #database {
    width: 100% !important;
  }

  .front-li {
  }

  #data-li {
    left: 0;
  }

  #front h2 {
    font-size: 15px;
  }

  #back h2 {
    font-size: 15px;
  }

  #database h2 {
    font-size: 15px;
  }

  #front img {
    width: 40% !important;
    height: auto;
  }

  #back img {
    width: 40% !important;
    height: auto;
  }

  #database img {
    width: 20% !important;
    height: auto;
  }

  /*  FRONT DIV */

  #tecnologia-front-div {
    display: grid !important;
    flex-direction: column;
    justify-content: center !important;
    box-sizing: border-box;
    gap: 10%;
    width: 100%;
    text-align: center;
  }

  #tecnologia-front-div img {
    width: 30% !important;
    min-width: 30% !important;
    max-width: 40% !important;
  }

  #tecnologia-front-div ul {
    max-height: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  #tecnologia-front-div ul * {
    margin: 0;
    font-size: 15px;
  }

  #tecnologia-front-div ul li {
    width: 100% !important;
  }

  #tecnologia-front-div ul li:nth-child(2) {
    width: 130% !important;
  }

  .front-li {
    /* display: flex; */

    /* flex-direction: column;
  justify-content: start; */
    height: 100% !important;
    width: auto;
    display: grid;

    box-sizing: border-box;
  }

  .front-li:nth-child(1) {
    justify-self: end !important;
    position: relative;
    left: 20%;
  }

  .front-li:nth-child(2) {
    justify-self: end !important;
    position: relative;
    right: -20%;
  }

  .front-li:nth-child(3) {
    justify-self: end !important;
    position: relative;
    right: 20%;
  }

  #html-logo-img {
    justify-self: center;
  }

  #javascript-li label {
    font-size: 10px !important;
  }

  /* BACK DIV*/

  #tecnologia-back-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 100%;
  }

  #tecnologia-back-div h2 {
    display: block !important;
  }

  #tecnologia-back-div ul {
    margin: 0;
    height: 100% !important;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr !important;

    justify-content: center;
    gap: 0;
    column-gap: 0;
    row-gap: 0;
  }

  #tecnologia-back-div ul li {
    height: 100%;
    box-sizing: border-box;
  }

  #tecnologia-back-div ul * {
    margin: 0;
    font-size: 15px;
  }

  /* DATABASE DIV*/

  #tecnologia-database-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
  }

  #tecnologia-database-div ul {
    margin: 0;
    height: 100% !important;
    width: 100% !important;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100% !important;

    column-gap: 0;
    row-gap: 0;
    gap: 0;
  }

  #tecnologia-database-div ul li {
    height: 100% !important;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  #tecnologia-database-div ul * {
    margin: 0;
    font-size: 15px;
  }

  /* EMOJI PLATYPUS*/
  #platypus-capacete {
    left: 17% !important;
    right: 50% !important;
    top: 110% !important;
    max-width: 30vw !important;
    transform: translate(-50%, -50%);
  }

  /*  ////////////////////////////////////////////// SOBRE ///////////////////////////////////////////////////////////*/

 .section#sobre {
  height: auto;
  width: 100vw;
 }

.section#sobre .hidden {
  padding-top: 0 !important;
}

.sobre-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  gap: 0;
  height: auto;
  padding-left: 0;
  padding-bottom: 2%;
  
}

.sobre-container > * {
  
}


#sobre-foto {
  height: auto !important;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#foto-apresentação {
  height: 25vh;
  width: auto;
}


#sobre-texto {
  height: 100%;
  width: 100%;
  gap: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: center;

  
}

#sobre-texto > * {
 
 text-align: center;
 white-space: normal;
 
}


#sobre-texto-painel {
  display: grid;
  grid-template-columns: 100%;
  grid-template-columns: calc(100%, 4);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  padding: 0;
}

#sobre-texto-painel > * {
  white-space: normal !important;
}

#sobre-texto-painel > :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(6.7vw, 1.9rem) !important;
}

#sobre-texto-painel > :nth-child(2) {
 
  font-size: min(6vw, 1.5rem) !important;
  
}

#sobre-texto-painel > :nth-child(3) {
  text-align: center;
  font-size: min(4vw, 1.3rem) !important;
  
}




#sobre-texto-painel > :nth-child(4) {
  border: solid 1px green;
  height: auto;
  width: auto;
  display: flex;
 align-items: center;
 justify-content: center;
 align-self: center;
 justify-self: center;
  gap: 6%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  
}


#sobre-texto :nth-child(4) img{
  height: 6vh !important;
  width: auto;
  
}

  /* /////////////////////////////////////////// RODAPÉ ///////////////////////////////*/
  #rodape {
    height: max-content !important;
    width: 100vw !important;
    box-sizing: border-box;
    padding: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0;
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: center;
    overflow: visible;
    position: relative;
  }

  #divContato {
    display: flex;
    justify-content: center;
  }

  #midiasSociais {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #midiasSociais div a img {
    height: auto;
    width: 50px;
  }

  .formContato {
    padding: 0;
    height: 310px !important;
    width: 90vw !important;
    position: relative;
    top: 0;
    overflow-x: hidden;
    box-sizing: border-box !important;
  }

  .nmSocial {
    display: none;
  }

  .formInputs {
    width: auto;
    margin-top: -20px;
    position: relative;
    top: 20px;
  }

  .formInputs input {
    width: 100% !important;
    margin-top: 10px;
    color: whitesmoke;
  }

  .formInputs label {
    font-size: 15px;
  }

  .formInputs input:focus ~ label,
  .formInputs input:valid ~ label {
    transform: translateY(-17px);
    font-size: 15px;
  }

  #msgOrçamento {
    font-size: 25px !important;
    text-align: center;
    position: relative;
    top: 2px;
    left: 50%;
    /* right: 30px; */
    transform: translateX(-50%);
    align-self: center;
    height: auto;
    display: block;
  }

  #tituloContatos {
    padding: 0;
  }

  #msgFinal {
    display: none;
  }

  #formulario-contato {
    width: auto !important;
    height: auto !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    height: max-content;
    top: 0;
  }

  .contato {
    height: max-content !important;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }

  #msgContato {
    overflow-x: hidden;
    height: 100px !important;
    font-size: 17px !important;
    width: 80vw !important;
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%) !important;
    text-indent: 10px;
  }

  #btEnviar {
    position: relative;
    top: 120px;
    left: -20px;
    font-size: 25px;
  }

  #tituloContatos {
    position: relative;
    top: 30px;
    font-size: 30px;
  }

  #midiasSociais {
    display: grid !important;
    /* grid-template-columns: auto auto auto; */
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-content: center !important;
    justify-items: center;
    grid-template-areas:
      "auto"
      "auto"
      "auto";

    padding: 0;
    right: 0 !important;
  }

  .divMidia {
    height: max-content;
    width: 100%;
  }

  #midiasSociais div a img {
    width: 30px;
    height: auto;
    align-self: center;
  }

  #midiasSociais a {
    width: 25px !important;
    height: 25px !important;
  }

  .teste {
    width: 40%;
    height: 100px;
    background-color: crimson;
  }

  .nmSocial {
    display: block;
  }
}

/* ------------------------------------------------POSIÇÃO VERTICAL------------------------------------------------ */
@media screen and (orientation: landscape) and (max-height: 480px) {
  html,
  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .container,
  .header-mobile,
  .navMenu-mobile,
  .menu-mobile,
  section,
  #painel-serviços,
  #painelTecnologias,
  #formulario-contato {
    width: 100vw !important;
    height: auto !important;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  section.apresentacao {
    
    grid-template-rows: auto;

    height: 100vh;
  
    display: none;
  }

  .titulo-container {
    grid-area: titulo;
    justify-content: start;
    align-items: center;
  
   
  }

  #img-container {
    grid-area: imagem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  #imagem-apresentação {
    height: 60vh;
    width: auto;
    display: none;
  }

  #botao-container {
    grid-area: botao;
    justify-content: center;
    padding-top: 5%;
  }

  .botao-orcamento {
    position: relative;
    transform: none;
    margin: 0;
    padding: 10px 20px;
    font-size: 16px;
  }

  /* Tecnologias */
  #tecnologia-front-div ul,
  #tecnologia-back-div ul,
  #tecnologia-database-div ul {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  /* Rodapé e formulário */
  .formContato {
    width: 80vw !important;
    height: auto;
  }

  #midiasSociais {
    display: flex !important;
    justify-content: center;
    gap: 20px;
  }
}
