*{
    padding: 0;
    margin: 0;

}


.apresentacao{
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    background-color: #121412;
    margin-right: 100px;
    margin-left: 100px;
    box-sizing: border-box;
    border-bottom: 5px rgb(78, 233, 17) solid;

}

#titulo-apresentação{
 color: darkgreen;   
}

#texto-apresentação {
    height: 800px;
    width: 800px;
    margin-top: 300px;
    overflow-y: hidden;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    padding: 30px;
    box-sizing: border-box;

}

#imagem-apresentação{
    width: 800px;
    height: 800px;
}

h1{
  text-align: center;
  font-size: 70px;
  color: green;
 font-family:"roboto";

}

#tecnologias-titulo{
    font-size: 55px;
}

h2{
  /* display: inline;   */
  font-size: 30px;
  color:#000000;
  font-family: "roboto";
  text-align: center;
}


.container{
    display:block;
    flex-direction: column;
    min-height: 100%;
    margin:0;
    padding:0px;
    padding-top: 120px;
    max-width: 100%;
    /*background-color:#2f4538;*/
    /* background-color: #8cb47a;  */
    background-color: black;
    font-style:helvetica;
    /* overflow-x:hidden; */
    
}

.painel{
    display:flex;
    align-items: center;
    justify-content: center;
}

/*Ocultando menu mobile*/

.header-mobile{
    display: none;
}

.navMenu{
    z-index: 99;
    position:fixed;
    text-decoration: none;
    list-style-type:none;
    display:flex;
    top:0px; 
    margin: 0px;
    background-color: #1f221e;
    opacity: 0.99; 
    backdrop-filter: blur(50px);
    height: 120px;
    width:100%;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease;
    
}

#mascoteLogo{
    position: absolute;
    height: 85%;
    left: 500px;
}

#logo{
    /* position:absolute; */
    left: 500px;
    height: 90%;
    width: auto;
    box-sizing: border-box;
    margin-right: 1300px;
    z-index: 1;
}

.conteudo{  
   
    /* border:3px solid red; */
   
    height: auto;
    overflow-x: hidden;
    /* width: 1000000px; */
    /* overflow: hidden; */
    /* background-image: url('imgs/platyNoComputador.jpeg'); */
}

.menu{
    /* border:solid red 5px; */
   
    position:fixed;
    text-decoration: none;
    list-style-type:none;
    display:flex;    
    margin-bottom:0px;
    background-color: none;
    /* box-shadow: 0px 15px 20px #222121; */
    /* height: 80px;
    width:100%; */
    padding: 0px;
    align-items:center;
    justify-content: center;
    width: 100vh;
   
   
    
}

nav li {
    /* border-radius:5px; */
    margin: 0 10px;
    box-sizing: border-box;
    margin-left: 70px;
    /* padding: 20px 30px; */
    /* padding: 22px 40px; */
    height: 10px;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
   
    
}

nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* font-weight:bold; */
    font-size:30px;
    font-family: "Roboto", sans-serif;
    padding:0px 0px 10px 0;
    position: relative;
    user-select: none;
 
}

nav li a::after{
   content: " ";
   width: 0%;
   height: 2px;
   background-color:#1aa754;
   position: absolute;
   bottom:0;
   left:0;
   transition: 0.7s ease-in-out;
}

nav li:hover a::after {
   width:100%;
}

a.actived::after {
    width:100%;
 }
 

main{
    text-align: center;
    background-color: transparent;
}

main section h1 {
  font-size: 70px;
  color: green;
  font-family: 'roboto';
}
.divRodape{
    display:flex;
}


#rodape{

    /* align-items:start;
    justify-content:start; */
    /* background-color:#93c572; */
    background-color:#1f221e;
    /* height: auto; */
    font-family: "roboto";
    padding: 0;
    height: 100%;
    width: 100%;
}


#divContato{
    display:flex;
    box-sizing: border-box;
    /* border:solid red 3px; */
    justify-content: center;
  
    justify-content: start;
    
}
#tituloContatos{
    font-size:45px;
    margin:0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    /* color: #1aa754; */
    color: green;
}

#divWhatsapp{
    color: white;
    display: flex;
    align-items: center;
  
}

#divInstagram{
    color:white;
    display: flex;
    align-items: center;
    

}

#divFacebook{
    display: flex;
    align-items: center;
}


#midiasSociais{
    display: inline-block ;
    margin-left:100px ;
    box-sizing: border-box;
    height: auto;
    width: auto;
    /* display: inline-block; */
    align-items: end;
    gap: 50px;
}

#midiasSociais div label{
    text-decoration: none;
    list-style: none;
    color: rgb(150, 150, 150);
    font-size: 20px;
    margin-left:20px ;
}
#midiasSociais div a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'roboto';
        
}

#midiasSociais div a img{
  display: inline-block;
  height: 30px;
  width: 30px;

}

.nmSocial{
  font-family: "Bebas Neue", sans-serif; ;
  font-size: 30px;
  top: -100px;
}

#msgContato{
    
    resize:none;
    margin-top:10px;
    outline: 0;
    background-color: #222222;
    color: rgb(255, 255, 255);
    font-family: "roboto";
    font-size: 30px;
    border: 0;
    height: 300px;
    width: 100%;
    left: 0;
}


#formulario-contato {
    display: block;
    justify-content: center;
    padding-bottom: 10px;
    height: auto;
    background-color: transparent;
    width: 830px;
    height: 380ppx;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    margin-bottom: 50px;
    
  
}

#msgOrçamento{
    font-size: 40px;
    text-align: start;
    
}
.formContato{
    /* justify-content: center; */
    /* margin-bottom: 50px; */
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    border: solid green 4px;
    height: auto;
    width: 830px;
    

}

.inputContato {
    border: solid red 5px;
}


.front-back-column {
    display: flex;
    list-style: none;
    justify-content: center;
   
}

.front-back-column li{
    margin: 20px;
}

.formInputs{
  margin: 25px 0px;
  width: 300px;
 position: relative;
}

.formInputs label{
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: grey;
    font-weight: bold;
    cursor: text;
    transition: 0.5s ease-in-out;
}

.formInputs input {
    width: 750px;
    padding: 5px;
    color: rgb(150,150,150);
    border:0;
    background-color: transparent;
    border-bottom: 2px solid rgb(150,150,150);
    outline: 0;
}



.formInputs input:focus,
.formInputs input:valid {
    border-bottom: 2px solid green;
}

.formInputs input:focus ~label,
.formInputs input:valid ~label {
    transform: translateY(-24px);
    font-size: 20px;
    color: grey;
}


#btEnviar{
    padding: 0;
    height: auto;
    width: 90px;
    color: rgb(150,150,150);
    font-family: 'roboto';
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;

}

#btEnviar::after{
   content: " ";
   height: 1.5px;
   width: 0%;
   background-color: green;
   position: absolute;
   left: 0;
   bottom: 0;
}



#btEnviar:hover::after{
 width: 100%;
}

#divMsgdia{
    position:absolute;
    margin:0px;
    top:10px;
    height: 100%;
    width: auto;
    right: 25px;
}
#msgDia{
    color:white;
    font-size: 25px;

}

.container main img{
    width: 50px;
    height: 50px;
}

#msgFinal{
    height: auto;
    width: 100%;
    background: #008000;
    color: rgb(2, 2, 2);
    font-size: 15px;
    text-align: start;
    font-family: "roboto";
    display: block;
    margin-bottom: auto;
    
}
/*
SERVIÇOS
*/

#serviços{
  
}

#serviços-titulo{
    font-size: 60px;
    
 
}

#painel-serviços{
    display: flex;
    justify-content: center;
    
}

.painel-software{
    width: 400px;
    display: flex;
    margin-top: 100px;
}

#img-website{
    width: 80%;
}

#img-erp{
    width: 80%;
}

#img-android {
    display:inline-block;
    width: 80%;
}

.titulo-softwares{
    color: white;
    background-color: transparent;
    margin-bottom: 30px;
}

/*
TECNOLOGIAS
*/
#tecnologias{
    /* background-color: #cdd69d; */
    /* background-color: #6c724b; */
   
}

#tecnologia-front-div{
    /* border: solid rgb(8, 71, 2) 3px; */
  
}

.tecnologia-front{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0;
}

.tecnologia-front li{
 
  text-align: center;
}

.front-img {
    margin: 30px;
    height: 100px;
    user-select: none;
}

.tecnologia-logo-label {
    color: rgb(0, 0, 0);
    font-family: "roboto";
    user-select: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
}


.tecnologia-back{
    display: flex;
    justify-content: center;
    list-style-type: none;
}


.tecnologia-back li{
    /* display: block; */
    text-align: center;
}


/* 

#ANIMAÇÃO DE SCROLL

*/

.hidden{
    padding: 0;
    margin: 0;
    opacity:0;
    filter: blur('150px');
    transition: all 2s;
    transform: translateX(-100%);
    background-color: transparent;
    box-sizing: border-box;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
   
}

.section{
    padding: 0;
    margin: 0;
    font-size: 19px;
    color: white;
    width: 100%;
    height: calc(100vh - 120px);
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* img{display:none;} */
/* Celular */

