* {
  padding: 0;
  margin: 0;
}

html, body {
  scroll-behavior: smooth;
  display: grid;
}

.apresentacao {
  height: calc(100vh - 120px);
  width: 100%;
  display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  grid-template-areas:
  "titulo  imagem"
  "botao   imagem";
  justify-content: center;
  background-color: #121412;
  
  box-sizing: border-box;
  border-bottom: 5px rgb(78, 233, 17) solid;
}

.apresentacao > * {
 
}



.titulo-container {
  grid-area: titulo;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-content: center;
}

.titulo-container :nth-child(2){
  font-size: min(1.4vw, 2rem) !important;
  color: #fffdd0;
  margin-left: 10%;
}

#titulo-apresentação {
  font-size: min(3vw, 3rem)  !important;
  color: #39ff14;
  justify-self: center;
  margin-top: 15%;
  margin-left: 10%;
  white-space: nowrap;

}

#botao-container {
  grid-area: botao;
  height: auto;
  width: 100%;
  overflow-y: hidden;
  color: white;
  font-weight: bolder;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Botão orçamento */

.botao-orcamento {
  background-color: black;
  color: #39ff14;
  border: 2px solid #39ff14;
  width: 30vw;
  padding: 5% !important;
  font-size: 30px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  animation: flutuar 2.0s ease-in-out infinite;
  transition: box-shadow 0.3s ease;
  box-shadow:
    0 0 5px #39ff14,
    0 0 15px #39ff14,
    0 0 25px #39ff14,
    0 0 40px #39ff14;
}

.botao-orcamento:hover {
  box-shadow:
    0 0 10px #39ff14,
    0 0 25px #39ff14,
    0 0 40px #39ff14,
    0 0 60px #39ff14;
}

/* Animação para o botão ficar flutuando */
@keyframes flutuar {

  0%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }
}

#img-container {
  grid-area: imagem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}



#imagem-apresentação {
  width: auto;
  height: 75%;
  
  filter:
    drop-shadow(0 0 1px #39ff14) drop-shadow(0 0 1px #39ff14) drop-shadow(0 0 12px #39ff14);
  border-radius: 1%;

}

h1 {
  text-align: center;
  font-size: 70px;
  color: green;
  font-family: "roboto";
}

#tecnologias-titulo {
  font-size: 55px;
}

h2 {
  /* display: inline;   */
  font-size: 30px;
  color: #d3d3d3;
  font-family: "roboto";
  text-align: center;
}

.container {
  display: block;
  min-height: 100%;
  margin: 0;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
  /*background-color:#2f4538;*/
  /* background-color: #8cb47a;  */
  background-color: #000000;
  font-style: helvetica;
  
}

.painel {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Ocultando menu mobile*/

.header-mobile {
  display: none;
}

.navMenu {
  z-index: 99;
  position: fixed;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap:clamp(0.3rem, 2vw, 10%);
  background-color: #1f221e;
  opacity: 0.99;
  backdrop-filter: blur(50px);
  height: clamp(50px, 120px, 120px);
  width: 100%;
  transition: height 0.3s ease;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}


#divImgLogo {
  
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 box-sizing: border-box;
 
 
  
}


#logo {
  box-sizing: border-box;
  z-index: 1;
  width: auto;
  height: 85%;

}

.conteudo {
  /* border:3px solid red; */

  height: auto;
  overflow-x: hidden;
  /* width: 1000000px; */
  /* overflow: hidden; */
  /* background-image: url('imgs/platyNoComputador.jpeg'); */
}

.menu {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: clamp(0.1rem, 4vw, 10vw);
  margin-bottom: 0px;
  background-color: none;
  padding: 0px;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  box-sizing: border-box;
}

nav li {
  box-sizing: border-box;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* font-weight:bold; */
  font-size: clamp(14px, 2vw, 30px);

  font-family: "Roboto", sans-serif;
  padding: 0px 0px 10px 0;
  position: relative;
  user-select: none;
}

nav li a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #1aa754;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.7s ease-in-out;
}

nav li:hover a::after {
  width: 100%;
}

a.actived::after {
  width: 100%;
}

main {
  text-align: center;
  background-color: transparent;
}

main section h1 {
  font-size: 70px;
  color: green;
  font-family: "roboto";
}

.divRodape {
  display: flex;
}

#rodape {
  /* align-items:start;
      justify-content:start; */
  /* background-color:#93c572; */
  background-color: #1f221e;
  /* height: auto; */
  font-family: "roboto";
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.contato {
  height: fit-content;
  width: fit-content;
}

#rodape> {
  
}

#divContato {
  display: flex;
  box-sizing: border-box;
  /* border:solid red 3px; */
  justify-content: center;

  justify-content: start;
}

#tituloContatos {
  font-size: 45px;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  /* color: #1aa754; */
  color: green;
}

#divWhatsapp {
  color: white;
  display: flex;
  align-items: center;
}

#divInstagram {
  color: white;
  display: flex;
  align-items: center;
}

#divFacebook {
  display: flex;
  align-items: center;
}

#midiasSociais {
  display: inline-block;
  margin-left: 100px;
  box-sizing: border-box;
  height: auto;
  width: auto;
  /* display: inline-block; */
  align-items: end;
  gap: 50px;
}

#midiasSociais div label {
  text-decoration: none;
  list-style: none;
  color: rgb(150, 150, 150);
  font-size: 20px;
  margin-left: 20px;
}

#midiasSociais div a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "roboto";
}

#midiasSociais div a img {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.nmSocial {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  top: -100px;
}

#msgContato {
  resize: none;
  margin-top: 10px;
  outline: 0;
  background-color: #222222;
  color: rgb(255, 255, 255);
  font-family: "roboto";
  font-size: 30px;
  border: 0;
  height: 300px;
  width: 100%;
  left: 0;
  border-radius: 10px;
}

#formulario-contato {
  display: block;
  justify-content: center;
  padding-bottom: 10px;
  height: auto;
  background-color: transparent;
  width: 830px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  margin-bottom: 50px;
}

#msgOrçamento {
  font-size: 40px;
  text-align: start;
}

.formContato {
  /* justify-content: center; */
  /* margin-bottom: 50px; */
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: black;
  border: solid green 4px;
  height: auto;
  width: 830px;
  border-radius: 20px;
}


.front-back-column {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "front back "
    "database database";
  list-style: none;
  justify-content: center;
  margin-top: 60px;
  row-gap: 100px;
}

.front-back-column>li {
  column-gap: 60px;
}

#front {
  justify-self: center;
}

#back {
  justify-self: center;
  width: 600px;
}

#database {
  grid-area: database;
}

.formInputs {
  margin: 25px 0px;
  width: 300px;
  position: relative;
}

.formInputs label {
  font-size: 16px;
  position: absolute;
  left: 0;
  bottom: 5px;
  color: grey;
  font-weight: bold;
  cursor: text;
  transition: 0.5s ease-in-out;
}

.formInputs input {
  width: 700px;
  padding: 5px;
  color: rgb(150, 150, 150);
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid rgb(150, 150, 150);
  outline: 0;
}

.formInputs input:focus,
.formInputs input:valid {
  border-bottom: 2px solid green;
}

.formInputs input:focus~label,
.formInputs input:valid~label {
  transform: translateY(-24px);
  font-size: 20px;
  color: grey;
}

#btEnviar {
  padding: 0;
  height: auto;
  width: 90px;
  color: rgb(150, 150, 150);
  font-family: "roboto";
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

#btEnviar::after {
  content: " ";
  height: 1.5px;
  width: 0%;
  background-color: green;
  position: absolute;
  left: 0;
  bottom: 0;
}

#btEnviar:hover::after {
  width: 100%;
}

#divMsgdia {
  position: absolute;
  margin: 0px;
  top: 10px;
  height: 100%;
  width: auto;
  right: 25px;
}

#msgDia {
  color: white;
  font-size: 25px;
}

.container main img {
  width: 50px;
  height: 50px;
}

#msgFinal {
  height: auto;
  width: 100%;
  background: #008000;
  color: rgb(2, 2, 2);
  font-size: 15px;
  text-align: start;
  font-family: "roboto";
  display: none;
}

/*
  SERVIÇOS
  */

.slider-mobile {
  display: none;
}

#serviços {
  display: grid;
  align-items: start;
  
}

#serviços-titulo {
  font-size: 60px;
  padding: 0;


}

#painel-serviços {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  align-items: center;
  width: 100%;
}

.painel-software {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 100px;
  margin-top: 100px;
  width: auto;
  height: auto;
}

.painel-software-div {
  width: 300px;
  height: 400px;
  padding: 0;
  border-radius: 30px;
  border: 0.009em solid rgb(169, 169, 169, 0.2);
  border-bottom: 10px solid green;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.painel-software-div  h3 {
  color: green !important;
  text-align: center;
  font-family: "roboto";
  font-size: 3vh;
  
}


.painel-software-div:nth-child(6) {
  grid-column: 2;
}

.painel-software h2 {
  display: inline-block;
  width: 250px;
  justify-self: center;
}

.painel-software h2::after {
  content: " ";
  display: block;
  height: 2px;
  width: 100%;
  background-color: green;
  left: 0;
  bottom: 10px;
}

.painel-software img {
  width: 50%;
  height: auto;
  justify-self: center;
}

.serviço-texto {
  position: absolute;
  z-index: 2000;
  display: grid;
  background-image: linear-gradient(to top, #013220, #000000);
}

.serviço-texto p {
  margin: 0;
  font-size: 29px;
  font-family: "roboto";
}

/* .painel-software>div:hover img{
   opacity: 0;
  
 }

 .painel-software>div:hover .titulo-serviço{
  opacity: 0;
 
} */

/* TEXTO EXPLICATIVO SITE INSTITUCIONAL*/
#site-i {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 600px;
  transition: top 0.5s ease-in-out;
  border: none;
  background-color: rgba(62, 185, 13);
}

#site-i-div {
  position: relative;
  overflow: hidden;
}

#site-i-div:hover #site-i {
  top: 0;
}

.serviço-texto#site-i>h2 {
  font-size: 30px;
}

#site-i p {
  /* opacity: 0;
  transition: 5s ease-in; */
}

#site-i-div:hover #site-i p {
  /* opacity: 1; */
}

/* TEXTO EXPLICATIVO LANDING-PAGES*/

#landing-page {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 600px;
  transition: top 0.5s ease-in-out;
  border: none;
  background-color: rgba(62, 185, 13);
}

#landing-page-div {
  position: relative;
  overflow: hidden;
}

#landing-page-div:hover #landing-page {
  top: 0;
}

.serviço-texto#landing-page>h2 {
  font-size: 30px;

  z-index: 2001;
  position: absolute;
}

#landing-page p {
  font-size: 20px;
}

/* TEXTO EXPLICATIVO HOT SITE*/

#hot-site {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 600px;
  transition: top 0.5s ease-in-out;
  border: none;
  background-color: rgba(62, 185, 13);
}

#hot-site-div {
  position: relative;
  overflow: hidden;
}

#hot-site-div:hover #hot-site {
  top: 0;
}

.serviço-texto#hot-site>h2 {
  font-size: 30px;

  z-index: 2001;
  position: absolute;
}

/*TEXTO EXPLICATIVO SISTEMA WEB*/

#web-system {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 600px;
  transition: top 0.5s ease-in-out;
  border: none;
  background-color: rgba(62, 185, 13);
}

#web-system-div {
  position: relative;
  overflow: hidden;
}

#web-system-div:hover #web-system {
  top: 0;
}

.serviço-texto#web-system>h2 {
  font-size: 30px;
  z-index: 2001;
  position: absolute;
}

/* TEXTO EXPLICATIVO E-COMMERCE*/

#commerce {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 600px;
  transition: top 0.5s ease-in-out;
  border: none;
  /* background-color:rgba(62, 185, 13); */
  background-image: linear-gradient(to top, #013220, #000000);
}

#e-commerce-div {
  position: relative;
  overflow: hidden;
}

#e-commerce-div:hover #commerce {
  top: 0;
}

.serviço-texto#commerce>h2 {
  font-size: 30px;
  z-index: 2001;
}

.serviço-texto>h2 {
  color: darkgreen;
  justify-self: center;
  align-self: start;
}

.serviço-texto>h2::after {
  display: none;
}

.serviço-texto p {
  color: rgb(73, 243, 73);
  font-size: 25px;
}

/* TEXTO EXPLICATIVO CONSULTORIA*/

#consultoria {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 600px;
  transition: top 0.5s ease-in-out;
  border: none;
  background-color: rgba(62, 185, 13);
}

#consultoria-div {
  position: relative;
  overflow: hidden;
}

#consultoria-div:hover #consultoria {
  top: 0;
}

.serviço-texto#consultoria>h2 {
  font-size: 30px;
}

#consultoria-div p {
  font-size: 20px;
}

/* TEXTO EXPLICATIVO APLICATIVOS ANDROID*/

#android {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 600px;
  transition: top 0.5s ease-in-out;
  border: none;
  background-color: rgba(62, 185, 13);
}

#android-div {
  position: relative;
  overflow: hidden;
}

#android-div:hover #android {
  top: 0;
}

.serviço-texto#android>h2 {
  font-size: 30px;
}

#android-div p {
  font-size: 20px;
}

/* TEXTO EXPLICATIVO SISTEMA DE GESTÃO (ERP)*/

#erp {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 600px;
  transition: top 0.5s ease-in-out;
  border: none;
  background-color: rgba(62, 185, 13);
}

#erp-div {
  position: relative;
  overflow: hidden;
}

#erp-div:hover #erp {
  top: 0;
}

.serviço-texto#erp>h2 {
  font-size: 30px;
}

#erp-div p {
  font-size: 20px;
}

/*********************************************/

/* PAINEL MODELOS DE NEGOCIO */

.div-modelo-negocio {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  width: 100% !important;
  box-sizing: border-box !important;
  padding-bottom: 2%;
 
}


.div-modelo-negocio-mobile {
  display: none;
}

#modelo-negocio-subtitulo {
  margin-bottom: 60px;
}

.div-modelo-negocio h1 {
  font-size: 40px;
}

.painel-modelo-negocio {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(5, calc(100%/5));
  width: auto !important;
  box-sizing: border-box;
  height: auto;
  color: white;
  row-gap: 30px;
  column-gap: 2%;
 
  white-space: nowrap;
  
}



.painel-modelo-negocio img {
  width: 100px;
}

/************************************************/
#img-website {
  width: 80%;
}

#img-erp {
  width: 80%;
}

#img-android {
  display: inline-block;
  width: 80%;
}

.titulo-softwares {
  color: white;
  background-color: transparent;
  margin-bottom: 30px;
}

/*
  TECNOLOGIAS
  */
#tecnologias {
  /* background-color: #cdd69d; */
  /* background-color: #6c724b; */
  height: 100vh;
}

#platypus-capacete {
  width: 15%;
  position: absolute;
  z-index: 1000;
  left: 100px;
  opacity: 1;
  transition: opacity 10s ease-in;
}

/* PAINEL TECNOLIGIAS FRONT-END*/

#tecnologia-front-div {
  display: grid;
  width: 700px;
}

#tecnologias-subtitulo01 {
  font-size: 20px;
  font-weight: 0;
  color: black;
}

#painelTecnologias {
  margin-top: 70px;
  justify-self: center;
  width: 1200px;
  height: 700px;
  background-color: transparent;
  border-bottom: solid 6px green;
  border-radius: 20px;
  background-color: black;
}

.tecnologia-front {
  display: grid;
  grid-template-columns: auto auto auto;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.tecnologia-front li {
  width: 160px;
  height: 209px;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.front-li {
  display: grid;
  align-items: center;
  justify-content: start;
  padding: 0;
  margin: 0;
  transition: 0.3ms ease;
}

.front-li:hover {
  transform: scale(1.2);
}

.front-li label {
  align-self: end;
}

#javascript-li img {
  /* margin-left: 40px;
    margin-right: 40px; */
  justify-content: start;
}

#javascript-li label {
  justify-self: center;
}

.section#tecnologias {
  background-color: #a9a9a9;
  height: 100vh;
}

.front-img {
  height: 100px;
  user-select: none;
  width: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* #css-logo-img{
     width: 125px;
     height: auto;
     top: -200px;
     padding: 0;
  } */

#li-css {
  padding: 0;
}

.tecnologia-logo-label {
  color: #006400;
  font-family: "roboto";
  user-select: none;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

/* PAINEL TECNOLOGIA BACK-END*/
.tecnologia-back-div {
  display: grid;
}

.tecnologia-back {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.tecnologia-back li {
  /* display: block; */
  text-align: center;
  margin: 0;
  width: 160px;
  height: 209px;
}

.back-li {
  display: grid;
  align-items: center;
  transition: 0.9ms ease-in-out;
}

.back-li:hover {
  transform: scale(1.2);
}

.back-li img {
  align-self: start;
}

.back-li label {
  align-self: end;
}

#php-li {
  margin-right: 50px;
}

.back-img {
  width: 150px;
  height: auto;
  margin: 0;
}

/* PAINEL TECNOLOGIA DATABASE*/
#tecnologia-database-div li {
  list-style-type: none;
}

.tecnologia-database {
  display: grid;
  grid-template-columns: auto;
}

.tecnologia-database li {
  justify-self: center;
}

#data-li {
  display: grid;
  align-items: center;
  transition: 0.9ms ease-in-out;
}

#data-li:hover {
  transform: scale(1.2);
}

#data-li label {
  justify-self: center;
}

.data-img {
  height: 150px;
}

/* SECTION SOBRE*/

#sobre * {
  box-sizing: border-box;
}

.section#sobre {
 box-sizing: border-box !important;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  text-align: center;

}



#sobre .hidden{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  box-sizing: border-box !important;
  height: auto;
  width: 100%;
  height: 100%;
}

#sobre-titulo-section {
  align-self: center;
}




#sobre .hidden > * {
}


#sobre .hidden > *{

  
}


.sobre-container {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2%;
  grid-template-columns: auto 55%;
  grid-template-rows: 100% 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  

}

.sobre-container > * {
  box-sizing: border-box !important;
}

.sobre-container div {}

.sobre-container p {
  font-size: 70px;
  color: white;
}

#sobre-foto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto !important;
  width: auto;
  
}

#foto-apresentação {
  width: 22vw;
  justify-self: center;
  align-self: center;
  border-radius: 30px;
  box-sizing: border-box !important;
}

/* #sobre-texto {
  width: 50vw;
  height: auto;
  
  align-self: center;
  
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box !important;
  white-space: nowrap;
 
} */


#sobre-texto {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sobre-texto>* {
  align-self: center;
}

#sobre-texto-painel {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: #1e2329;
  border-radius: 10px;
  border: 2px solid darkgreen !important;
  box-sizing: border-box;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  white-space: nowrap;
}

#sobre-texto-painel > * {
  
}

#sobre-nome {
  color: #d3d3d3;
   font-size: min(3vw, 2.5rem) !important;
  text-align: center;
}

#sobre-titulo {
   font-size: min(2.5vw, 2.5rem) !important;
  color: darkgreen;
  font-family: "roboto";
  box-sizing: border-box !important;
}


#sobre-formacao {
  color: #d3d3d3;
  text-align: start;
  font-family: "roboto";
 font-size: min(1.5vw, 2rem);

}

/* REDES SOCIAIS PROFISSIONAIS*/

#painel-redes-profissionais {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
  align-self: end;
  border-radius: 10px;
  border: solid 2px darkgreen;

}

#painel-redes-profissionais > * {
}

#painel-redes-profissionais a{
  padding: 0;
  border: none;
  background: none;
  height: auto;
  width: auto;
  cursor: pointer;
  
}

#painel-redes-profissionais img {
  display: block;
  width: 3vw;
  height: auto;
  transition: ease 0.5s;
}

#painel-redes-profissionais img:hover {
  filter: brightness(2);
}

/* 
  
  #ANIMAÇÃO DE SCROLL
  
  */

.hidden {
  display: grid;
  padding: 0;
  margin: 0;
  opacity: 0;
  filter: blur("150px");
  transition: all 2s;
  transform: translateX(-100%);
  background-color: transparent;
  box-sizing: border-box;

}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
}

.section#inicio {
  padding: 0;
  margin: 0;
  font-size: 19px;
  color: white;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  display: flex;
  align-items: end;
  justify-content: end;
  padding-left: 5%;
  padding-right: 5%;
  
}

/* img{display:none;} */
/* Celular */

.section {
  height: calc(100vh - 80px);
  display: block;
  background-color: #000000;
  width: 100%;
  box-sizing: border-box !important;
}

.section#serviços {
  margin-top: 100px;
  height: auto;
  box-sizing: border-box;
}

#serviços-hidden {
display: flex;
flex-direction: column;
box-sizing: border-box !important;
width: 100%;
height: auto;
}

 #serviços-hidden > * {
  width: 100% !important;
  box-sizing: border-box !important;

  
 }

.painel-modelo-negocio div {
  display: flex;
  flex-direction: column;
  background-color: #1b1b1b;
  border-radius: 15px;
  height: 20vh;
  width: 15vw;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
   ;
}

.painel-modelo-negocio div:hover {
  transform: scale(1.1);
}

.painel-modelo-negocio label {
  font-family: "roboto";
  font-size: clamp(0.5rem, 1.5vw, 2rem) !important;
  font-weight: bold;
  position: relative;
}


#projetos {
 background-color: #5e5b5b;
 height: 120vh;
 display: grid;
 align-items: center;
 justify-content: center;
}