@media (max-width: 720px) and (max-height: 1520px) {
  img {
    display: none;
  }



  .container {
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
    padding-right: 0;
   
  }

  #titulo-apresentação {
    font-size: 100px;
  }

  #lorem {
    display: none;
  }

  .header{
    width: 100%;
  }

  .navMenu {
    width: 720px;
    overflow-x: hidden;
    margin: 0;
    height: 120px;
  
  }

  .menu{
    width: 100%;
  
  }

  nav li {
  }

  nav li a {
    display: none;
  }

  img#logo {
    display: none;
  }

  p#msgDia {
    display: none;
  }

  #texto-apresentação{
    overflow-y: hidden;
    height: calc(100vh - 120px);
    margin: 0;
   
  }

  #titulo-apresentação{
    font-size: 30px;

  }

  #imagem-apresentação {
    display: none;
  }
  section.apresentacao {
    margin: 0;
    width: 100%;
    height: calc(100vh - 120px);
    overflow-y: hidden;
  
  }

  .titulo-section {
    font-size: 100px;
  }

  .section {
   margin: 0;
   overflow-x: hidden;
  }

  .hidden{
    margin: 0;
  }
  .front-back-column {
    display: none;
  }

  .front-img {
    width: 30px;
  }

  #inicio{
    top: 0;
    height: calc(100vh - 120px);
  }
  .titulo-softwares {
    font-size: 10px;
  }

  .img-serviços {
    display: none;
  }

  #rodape {
    height: 800px;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    
  }
 

  #midiasSociais{
    margin: 0;
    
  }
  .formContato {
    padding:0 ;
    margin-top: 300px;
    overflow-x: hidden;
    height: 400px;
    width: 100%;
    position: absolute;
    
  }

  .formContato > *{
    position: relative;
  }

  .formInputs {
   
    width: 300px;
    box-sizing: border-box;
    width: 100%;

  }

  .formInputs input{
    width: 100%;
  }

  .formInputs label{
    font-size: 20px;
  }

  #msgOrçamento{
    font-size: 30px;
    text-align: center;
    top: 10px;
  }

  #painel-serviços {
    display: none;
  }

  .painel-software {
    display: none;
  }



  #tituloContatos{
    padding: 0;
  }

  .contato {
    display: inline-block;
    padding: 0;
    position: absolute;
    top:590px ;
    left: 100px;
    jus
  }

  #msgFinal {
    display: none;
  }

  #formulario-contato{
    overflow-x: hidden;
  }

  #msgContato{
    overflow-x: hidden;
    height: 120px;
    font-size: 25px;
    width: 100%;
    position: absolute;
  }
  #btEnviar {
    position: absolute;
    top: 300px;
    left: 0;
  }
}
