

@media (max-width: 1366px) {
  * {
  }
  .container {
  width: 100%;
    
  }
  .navMenu {
    /* box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    justify-content: start;
    z-index: 99999; */
  }

  .navMenu .menu {
  }

  .navMenu > * {
    margin: 0;
    padding: 0;
  }

  #divImgLogo {
   
  }

  #logo {
   width: 85%;
  
  }
  .menu {
    height: 100%;
    width: 100%;
    display: flex;
  }

  #titulo-apresentação {
    font-size: 40px;
  }

.img-container {
  display: flex;
  justify-content: center;
  align-items: start;
  
}

  #imagem-apresentação {
    width: 90%;
    height: auto;
    
    
  }

  .apresentacao {
    box-sizing: border-box;
    height: calc(100vh - 100px);
    width: 100vw;
    margin-top: 0;
      display: grid;
  
  grid-template-areas:
  "titulo  imagem"
  "botao   imagem";
  }

  .navMenu {
    /* display: none; */
  }

  .section {
    display: flex;
    height: calc(auto - 80px);

    /* justify-content: center; */
  }

  .section > * {
  }

  h1 {
    font-size: 40px;
  }

  .section {
    height: calc(100vh - 80px);
    
  }

  #serviços-hidden {
    height: auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
  

  }

  #serviços {
    height: auto;
  }

  .painel-software img {
    width: 40%;
  }

  /*PAINEL MODELOS DE NEGÓCIO */
  
  .serviço-texto h2 {
    font-size: 22px !important;
   
  }

  .serviço-texto p {
    font-size: 15px !important;
   
  }

.painel-software{
  margin-top: 5%;
}

.painel-software-div {
  max-width: 220px;
}


  .painel-software-div h2 {
    font-size: 20px;
  }

  #painel-serviços label {
    font-size: 25px;
  }

  .div-modelo-negocio h1 {
  }

  #modelo-negocio-subtitulo {
    font-size: 25px;
  }

 

  .painel-modelo-negocio img {
    width: 30%;
  }

  /* TECNOLOGIAS */
  .section#tecnologias {
    margin-top: 0px;
    height: calc(100vh + 200px);
    padding: 50px;

    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    position: relative;
  }

  #tecnologias-titulo {
    position: relative;
    top: 60px;
  }

  #tecnologias-subtitulo01 {
    position: relative;
    top: -40px;
  }

  #painelTecnologias {
    width: 853.75px;
    height: 498.02px;
    margin: 0;
    position: relative;
    top: -50px;
  }

  /* PAINEL TECNOLIGIAS FRONT-END*/

  #platypus-capacete {
    margin-left: 0;
    left: -150px;
    width: 200px;
    top: 250px;
  }

  #painelTecnologias img {
    width: 50%;
  }

  .tecnologia-front {
    width: 360px;
  }
  #tecnologia-front-div {
    box-sizing: border-box;
    width: 360px;
    margin-left: 270px;
  }

  .tecnologia-front li {
    /* display: block; */

    /* justify-content: center;
    align-items: center; */

    width: 120px;
    height: 170px;
  }

  .front-li img {
    justify-self: center;
  }

  .front-img {
    width: 60px !important;
  }

  .front-li label {
    margin-top: 20px;
  }

  #html-logo-img {
  }

  #javascript-li label {
    font-size: 15px;
  }

  /* Painel Backend */

  #tecnologia-back-div {
    width: 360px;
    box-sizing: border-box;
    margin-right: 200px;
    display: grid;
    column-gap: 30px;
  }

  .tecnologia-back {
    display: flex;
    column-gap: 30px;
    align-items: center;
    /* justify-items: end; */
  }

  .tecnologia-back li {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0;
    width: 120px;
    height: 170px;
    box-sizing: border-box;
  }

  .tecnologia-back li img {
    width: 100px !important;
    height: 140px;
    padding: 0;
    margin-top: -20px;
  }
  #php-li {
    margin-right: 0;
  }

  #painelTecnologias {
    display: flex;
    justify-content: center;
  }

  .front-back-column {
    row-gap: 20px;
  }

  #front {
    width: 600px !important;
  }

  /* DATABASE*/

  #database {
    box-sizing: border-box !important;

    width: 360px;
    height: 225px;
    justify-self: center;
  }

  #tecnologia-database-div {
    height: 225px;
    width: 360px;
  }

  .tecnologia-database li {
    margin-top: -50px;
  }

  #data-li img {
    justify-self: center;
    width: 100px;
  }

  /* Sobre section*/

  .section#sobre {
  }

  .section#sobre > {
  }




  #sobre-texto > {
 
  }

  /* Formulário Contato */

 .formContato {
  width: min(600px, 100%);
 }
 

  #msgOrçamento {
    font-size: 30px; /* Diminuído o tamanho da fonte */
    text-align: start;
  }


 


  .formInputs label {
    margin-bottom: 10px;
  }

  .inputContato:last-child {
    margin-bottom: 0px;
  }

 
}
